.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
  padding: 50px 20px 10px 20px;
  border-radius: 10px;
}

.card h3{
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
  color: #145364;
}

.card p {
  margin: 0 auto;
  color: #145364;
  opacity: 0.6;
}

.card > img {
  height: 200px;
  object-fit: fill;
  border-radius: 5px;
}

.container {
  width: 900px;
  margin: auto;
}

.container h2 {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  padding-top: 20px;
  opacity: 0.8;
}
